/* Resets */

ul, li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

/* 
  * --- Style ----
*/

html, body {
  background-color: #97BBFF;
  /* background-color: #ff8f8f; */
  color: #000000;
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}

html {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
}

body {
  padding: 0px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-wrapper {
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  margin: 24px auto;
}

.ut {
  font-family: 'Determination Sans', sans-serif;
}

.logotype {
  font-size: 32px;
  color: black;
  font-family: 'Determination Sans', sans-serif;
  text-decoration: none;
}

.logotype:hover {
  text-decoration: underline;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h1, h2 {
  color: #8D4242;
  font-family: 'Determination Sans', sans-serif;
}

h1 {
  font-size: 32px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
  margin-top: 32px;
}

h2 {
  font-size: 24px;
  letter-spacing: 0.2px;
  margin-bottom: 8px;
  margin-top: 24px;
}

p {
  margin-top: 4px;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 22px;
}

.banner-image {
  max-width: 100%;
}

.links-list-wrapper {
  margin-top: 8px;
}

.links-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  list-style-type: none;
  padding-left: 0px;
}

.links-list li {
  display:flex;
  margin-bottom: 16px;
  width: 100%;
  border-radius: 10px;
  border-style: solid;
  border-width: 4px;
  border-color: white;
  background-color: #ff8f8f;
  border-color: #B74B4B;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23B74B4B' /></svg>");
}

.links-list li:hover {
  background-color: #EC7E7E
}

.links-list li a {
  display: flex;
  text-decoration: none;
  font-family: 'Determination Sans', sans-serif;
  color: #8D4242;
  font-size: 20px;
  padding: 16px;
  width: 100%;
}

/* .links-list .commission-link {
  background-color: #707684;
  border-color: #45484E;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%2345484E' /></svg>");
}

.links-list .commission-link a {
  color: #2E3034z;
}

.links-list .patreon-link {
  background-color: #FF424D;
  border-color: #86262C;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%2386262C' /></svg>");
}

.links-list .patreon-link a {
  color: #86262C;
}

.links-list .twitter-link {
  background-color: #1DA1F2;
  border-color: #0664A8;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%230664A8' /></svg>");
}

.links-list .twitter-link a {
  color: #00507D;
} */

/* MOBILE NAV */

#menuToggle {
  display: flex;
  flex-direction: column;
  position: relative;
  /* top: 25px;
  left: 25px; */
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span
{
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  /* background: #36383F; */
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 340px;
  margin-top: -50px;
  padding: 50px;
  padding-top: 125px;
  background-color: #ff8f8f;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  list-style-type: none;
  border-right: 6px solid #97BBFF;
}

#menu a {
  color: #8D4242;
  font-family: 'Determination Sans', sans-serif;
  font-size: 32px;
  text-decoration: none;
}

#menu a:hover {
  text-decoration: underline;
}

#menu li
{
  padding: 10px 0;
  transition-delay: 2s;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

@media screen and (max-width: 440px) {

  .links-list {
    padding-right: 4px;
  }

}

.notice {
  font-family: 'Determination Mono', sans-serif;
  font-size: 20px;
  margin-top: 36px;
}

.terms-list, .terms-list li {
  list-style-type: circle;
  padding-left: 12px;
}

.terms-list li {
  margin-bottom: 8px;
}

.footer {
  color: #749ce8;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 16px;
}

.footer a {
  color: #749ce8;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}