.footer {
  color: #749ce8;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 16px;
}

.footer a {
  color: #749ce8;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}