<header>
  <a href="index.html" class="logotype">Kapri</a>
  <nav role="navigation" class="nav-menu">
    <div id="menuToggle">
      <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
    <ul id="menu">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/commissions">Commission Info</a></li>
      <li><a href="https://www.patreon.com/kapri">Patreon (NSFW)</a></li>
      <li><a href="https://twitter.com/kaprihorn">Art Twitter</a></li>
      <li><a href="https://twitter.com/kaprileak">Art Twitter (NSFW)</a></li>
    </ul>
   </div>
  </nav>
</header>

<main>
  <section>
    <h1>Pay Kapri</h1>
    <p>Please see my <u><a routerLink="/commissions">Commissions Info</a></u> page for terms and refund policy.</p>

    <form [formGroup]="paymentForm">
      <h2>Commission</h2>

      <div class="form-field">
        <label for="description">Description: </label>
        <input autofocus id="description" type="text" formControlName="description">
        <div *ngIf="paymentForm.controls.description.touched && paymentForm.controls.description.hasError('maxlength')" class="form-error">Cannot exceed 251 characters.</div>
      </div>

      <div class="form-field">
        <label for="amount">Amount: </label>
        <input id="amount" type="text" formControlName="amount">
        <div *ngIf="paymentForm.controls.amount.touched && paymentForm.controls.amount.hasError('required')" class="form-error">Must include an amount.</div>
        <div *ngIf="paymentForm.controls.amount.touched && paymentForm.controls.amount.hasError('pattern')" class="form-error">Must be a number.</div>
      </div>
      
      <div class="form-field">
        <label for="email">Email: </label>
        <input id="email" type="email" formControlName="email">
        <div *ngIf="paymentForm.controls.email.touched && paymentForm.controls.email.hasError('required')" class="form-error">Please include an email for your receipt.</div>
        <div *ngIf="paymentForm.controls.email.touched && paymentForm.controls.email.hasError('email')" class="form-error">Must be a valid email.</div>
      </div>
      
      <p>Payments are processed through <a href="https://www.paymentwall.com/en" target="_blank">Paymentwall</a>.</p>
    
      <button type="button" (click)="submitPayment()" class="btn">Pay the Goat</button>
    </form>
    
    
  </section>
</main>