<header>
  <a href="index.html" class="logotype">Kapri</a>
  <nav role="navigation" class="nav-menu">
    <div id="menuToggle" class="menuToggle">
      <input type="checkbox" class="menuToggleCheckbox"/>
        <span></span>
        <span></span>
        <span></span>
    <ul id="menu">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/commissions">Commission Info</a></li>
      <li><a href="https://www.patreon.com/kapri">Patreon (NSFW)</a></li>
      <li><a href="https://twitter.com/kaprihorn">Art Twitter</a></li>
      <li><a href="https://twitter.com/kaprileak">Art Twitter (NSFW)</a></li>
    </ul>
   </div>
  </nav>
</header>

<main>
  <section id="banner">
    <img src="/assets/img/img_banner.png" alt="Welcome" class="banner-image">
  </section>
  <section id="home-nav">
    <nav class="links-list-wrapper">
      <ul class="links-list">
        <li class="commission-link"><a routerLink="/commissions">Commission Info</a></li>
        <li class="payment-link"><a routerLink="/pay-kapri">GIVE ME MONEY</a></li>
        <li class="patreon-link"><a href="https://www.patreon.com/kapri">Patreon (NSFW)</a></li>
        <li class="twitter-link"><a href="https://twitter.com/kaprihorn">Art Twitter</a></li>
        <li class="twitter-link"><a href="https://twitter.com/kaprileak">Art Twitter (NSFW)</a></li>
      </ul>
    </nav>
  </section>
</main>