<header>
  <a href="index.html" class="logotype">Kapri</a>
  <nav role="navigation" class="nav-menu">
    <div id="menuToggle">
      <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
    <ul id="menu">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/commissions">Commission Info</a></li>
      <li><a href="https://www.patreon.com/kapri">Patreon (NSFW)</a></li>
      <li><a href="https://twitter.com/kaprihorn">Art Twitter</a></li>
      <li><a href="https://twitter.com/kaprileak">Art Twitter (NSFW)</a></li>
    </ul>
   </div>
  </nav>
</header>

<main>
  <section>
    <h1>Commission Info</h1>
    <p>My queue stays pretty full so, for now, <u>commissions are open only to patrons.</u></p>
    <h2>Pricing</h2>
    <ul class="terms-list">
      <li><p><u>$50</u> for a finished sketch.</p></li>
      <li><p><u>$100</u> for a colored piece.</p></li>
      <li><p><u>+50%</u> per additional character.</p></li>
    </ul>
    <h2>Terms</h2>
    <ul class="terms-list">
      <li><p>Prices listed above may vary according to complexity and time required to complete them.</p></li>
      <li><p>I have the right to accept or refuse any commission.</p></li>
      <li><p>If you share your commission on social media, please credit me as @kaprileak for NSFW works or @kaprihorn for any others.</p></li>
    </ul>
    <h2>Refund Policy</h2>
    <ul class="terms-list">
      <li><p>Full refunds are available only before the initial sketch is complete.</p></li>
      <li><p>If you request a refund after a sketch is done and before the work is finished, I will refund you 50% of the original commission price.</p></li>
      <li><p>After the complete work has been mostly completed, refunds will not be provided.</p></li>
    </ul>
  </section>
</main>