/* --------------- General --------------- */

/* --------------- Widths --------------- */

/* --------------- Typography --------------- */
$font-family-base: "arial", sans-serif !default;
$font-family-determination: 'Determination Sans', sans-serif !default;
// $font-weight-base: 400 !default;
// $font-weight-medium: 500 !default;
// $font-weight-bold: 600 !default;

$font-size-h1: 32px !default;
$font-size-h2: 24px !default;
$font-size-label: 18px !default;
$font-size-p: 18px !default;
$font-size-base: 18px !default;
$font-size-16: 16px !default;
$font-size-error: 14px !default;
$font-size-button: 20px !default;

$margin-top-h1: 32px;
$margin-top-h2: 24px;
$margin-top-p: 4px;
$margin-bottom-headings: 8px !default;
$margin-bottom-p: 8px;
$headings-font-family: inherit !default;
// $headings-font-weight:   500 !default;
// $headings-line-height:   1.1 !default;

$line-height-p: 22px;

$letter-spacing-h1: 0.4px;
$letter-spacing-h2: 0.2px;
$letter-spacing-p: 0.2px;

/* --------------- Colors --------------- */

// Monochromatic
$black: #262626;
$kapri-red: #8D4242;

// Colors

// Surfaces

// Surface-Gradients

// Overlays


/* --------------- Elevation --------------- */


/* --------------- Border Radius --------------- */
